@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.tf {
    font-family: 'Passion One', cursive;
}

.tfc {
    color: #7589D4 !important;
}

.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

